<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYxVGQDNwqkqkMFrisyK_tyNAtx4gaFJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>473022349727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalMajorProject</string>
	<key>PROJECT_ID</key>
	<string>final-major-project-e1afe</string>
	<key>STORAGE_BUCKET</key>
	<string>final-major-project-e1afe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473022349727:ios:1e06ac00cd83d1e978fdaa</string>
</dict>
</plist>